<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Adicionar Plato</h1>
  idDish <input type="text" id="idDish"><br>
  Nombre del Plato <input type="text" id="dishName"><br>
  Calorías <input type="number" id="calories"><br>
  <input type="checkbox" id="isVegetarian" name="isVegetarian">
    <label for="isVegetarian">¿Es vegetariano?</label><br>
  value <input type="number" id="value"><br>
  comments <input type="text" id="comments"><br>

  <button id="btnSend">Guardar Plato</button>
  <script src="./js/scripts.js"></script>
</body>
</html>